<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/src/normalize.css">
    <link rel="stylesheet" href="/src/style.css">
    <title>Jonathan Sewell</title>
</head>
<body class="background-colour">
	<header class="colour1-background">
        <h1>
            <a href="/">Jonathan Sewell</a>
        </h1>
  	</header>

    <nav class="colour2-background">
        <a href="//github.com/jonathansewell/">github.com/jonathansewell</a> - 
        <a href="//twitter.com/jonathansewell">twitter.com/jonathansewell</a>
    </nav>

    <div class="contentwidth">
    {{{body}}}
    </div>
 
 <script src="/src/analytics.js"></script>
</body>
</html>