<nav>
	<h1>Blog Posts</h1>
	<p><a href="posts/single-batch-day/">An Experiment in Single Batch Working</a></p>
</nav>
<nav>
	<h1>Code / Experiments</h1>
	<p><a href="/basic-force-layout/">Basic Force Layout with d3.js</a></p>
	<p><a href="/d3-topic-experiments/">Topic and bubble layout with d3.js</a></p>
	<p><a href="/d3-updating-force-layout/">Adding to force layout with d3.js</a></p>
</nav>
<nav>
	<h1>Slides / Talks</h1>
	<p><a href="/topiccomparison/">Brandwatch Front End Group: Building a topic cloud with d3.js</a> / <time datetime="2014-01-24">24th January 2014</time></p>
</nav>

