<h2>Blog Posts</h2>
<p><a href="posts/single-batch-day/">An Experiment in Single Batch Working</a> / <time datetime="2015-08-08">8th August 2015</time></p>

<h2>Code / Experiments</h2>
<p><a href="/basic-force-layout/">Basic Force Layout with d3.js</a> / <time datetime="2014-06-16">16th June 2014</time></p>
<p><a href="/d3-topic-experiments/">Topic and bubble layout with d3.js</a> / <time datetime="2014-06-20">20th June 2014</time></p>
<p><a href="/d3-updating-force-layout/">Adding to force layout with d3.js</a> / <time datetime="2014-01-24">23rd May 2014</time></p>

<h2>Things I've Talked About</h2>
<p><a href="/topiccomparison/">Brandwatch Front End Group: Building a topic cloud with d3.js</a> / <time datetime="2014-01-24">24th January 2014</time></p>

