/*core*/
body {
    margin: 0;
    padding: 0;
    color: #292929;
    font-family: sans-serif;
}
a {
	color: inherit;
}
h1, h2, h3, h4, h5 {
	font-family: georgia, serif;
	font-weight: normal;
}

header {
    text-align: center;
    width: 100%;
}
header h1 {
    font-family: sans-serif;
    font-size: 50px;
	font-weight: bold;
    color: #fff;
    text-shadow: 0 8px 0 rgba(0,0,0,.15);
    margin: 0;
    padding: 25px 0;	
}
	header h1 a {
		text-decoration: none;
	}

nav {
	text-align: center;
	padding: 12px;
    width: 100%;
    color: #fff;
}
.contentwidth {
    width: 80%;
    margin: 0 auto;
}

.colour1-background {
	background: #44A2C0;
}
.colour2-background {
	background: #1A7594;
}
.background-colour {
	background-color: #fff;
}