body {
    padding: 24px;
}
body article{
    max-width: 600px;
}

.title {
    font-family: Georgia, serif;
    font-weight: bold;
    color: #3E4C67;
}
.title a {
    text-decoration: none;
}

time {
    font-style: italic;
    font-size: 14px;
}

a {
	color: inherit;
}
h1, h2, h3, h4, h5 {
	font-family: georgia, serif;
	font-weight: normal;
}